$light: #F0EFF4;
$primary: #2176FF;
$primary-light: #33A1FD;
$accent-red: #DB5461;
$accent-green: #23F0C7;
$black: #31393C;

$secondary-light: #E8E7EE;
$secondary-black: #535F65;
$secondary-darker: #DDDBE6;
