@import './colors';

.content {
	display: flex;
	flex-direction: column;
	padding: 32px 64px;
	.header {
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: 700;
		color: $black;

		hr {
			width: 100%;
			height: 6px;
			border: 0;
			margin: 6px 0;
			background: linear-gradient(90deg,  $primary-light, $accent-green);
		}
	}

	.todo-list {
		padding: 32px;
		display: flex;
		flex-direction: column;
		gap: 16px;

		.add-item-btn, .todo-item {
			display: flex;
			align-items: center;
			width: 100%;
			height: 64px;
			padding: 16px 24px;
			border-radius: 6px;
			gap: 16px;
		}

		.add-item-btn {
			background-color: $secondary-light;
			color: $secondary-black;
			border: none;
			svg {
				width: 36px;
			}
			cursor: pointer;
			font-size: 24px;
			transition-duration: 0.2s;
			
			&:hover {
				color: $black;
				background-color: $secondary-darker;
			}
		}


		.todo-item {
			background-color: white;

			&[priority='0'] {
				border-left: 16px solid $accent-green;
			}

			&[priority='1'] {
				border-left: 16px solid $primary-light;
			}

			&[priority='2'] {
				border-left: 16px solid $accent-red;
			}	
		}
	}
}