@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import './sidebar';
@import './content';
@import './modal';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, button, input, select {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: $light;
}

main {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 320px 1fr;
	color: $black;
}

